:root{
    --sidebar-cover: #f9f9f9;
    --border: #e3e3e3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    height: 100vh;
    /* overflow: hidden; */
}

#mainContainer{
    display: flex;
    justify-content: space-between;
}

/* Sidebar */
aside {
    background-color: var(--sidebar-cover);
    width: 20%;
    height: 100vh;
    position: relative;
    transition: transform 0.2s ease;
    z-index: 10;
    padding: 20px;
}

aside nav{
    display: flex;
    flex-direction: column;
}

aside nav #chatTimeStamp{
    font-weight: 500;
    color: #848484;
}

aside nav ul{
    padding: 5px 0px;
    list-style: none;
}

div[id^="sidebarCloser"] {
    background-color: #848484;
    width: 5px;
    height: 13px;
    position: relative;
    border-radius: 12px;
    transition-duration: 0.2s;
}

#sidebarCloserTop {
    margin: -1px 0px;
    border-radius: 12px 12px 0 0;
}

#sidebarCloserBottom {
    margin: 0px;
    border-radius: 0px 0px 12px 12px;
}

#closerContainer {
    position: absolute;
    top: 48%;
    right: -40px;
    width: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 10; 
    & .tooltip{
        display: none;
        z-index: -99;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    &:hover div[id^="sidebarCloser"]{
        background-color: black;
    }
    &:hover .tooltip{
        display: block;
        z-index: 1;
        opacity: 1;
    }
}

#closerContainer .tooltip{
    background-color: black;
    color: white;
    font-weight: 500;
    position: absolute;
    width: 150px;
    text-align: center;
    padding: 12px 7px;
    left: 50px;
    border-radius: 8px;
    &::after{
        content: "";
        background-color: black;
        border: 6px solid black;
        position: absolute;
        left: -6px;
        top: 35%;
        transform: rotate(45deg);
    }
}

.hide {
    transform: translateX(-100%);
}

.rotate {
    transform: rotate(16deg);
}

.anti-rotate {
    transform: rotate(-16deg);
}

aside #profile{
    position: absolute;
    bottom: 20px;
}

/* Chat Container */
main{
    width: 75%;
    transition: 0.2s ease;
    position: relative;
    height: 100vh;
}

#chatContainer{
    background-color: white;
    height: 90vh;
    text-align: center;
}

#chatDisplay{
    background-color: white;
    height: 90%;
    overflow: scroll;
    text-align: left;
    &::-webkit-scrollbar{
        display: none;
    }
    & > h1{
        text-align: center;
    }
}

#chatBox{
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 12px;
    height: 13%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1% 0px 0px;
    margin: -20px auto;
}

#chatBox #userQuery{
    height: 100%;
    width: 80%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 16px;
}

#chatBox #sendChat{
    height: 35px;
    width: 35px;
    font-size: 16px;
    color: white;
    background-color: #dfdfdf;
    border: none;
    border-radius: 5px;
}

footer{
    background-color: white;
    color: #848484;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/* Utility Classes */
.main-fullwidth{
    width: 100vw;
    transform: translateX(-10%);
}

.user-message{
    margin: 7px 0px;
}

.nav-link{
    cursor: pointer;
    padding: 10px 7px;
    border-radius: 7px;
    & a{
       color: black;
       text-decoration: none;
    }
    &:hover{
        background-color: #dcdcdc;
    }
}